<html lang="en" xmlns="http://www.w3.org/1999/xhtml" xmlns:th="http://www.thymeleaf.org">
<head>
    <title>Clients</title>
</head>
<body>
<h1>Blacklist</h1>
<a href="/logout">Logout</a>
<p></p>
<table class="table" border="1">
    <thead>
    <tr>
        <th>Id</th>
        <th>Name</th>
        <th>Phone</th>
        <th>e-mail</th>
    </tr>
    </thead>
    <tbody>
    <tr th:if="${clients.empty}">
        <td colspan="4"> Black list is empty.</td>
    </tr>
    <tr th:each="client : ${clients}">
        <td><span th:text="${client.id}"></span></td>
        <td><span th:text="${client.name}"></span></td>
        <td><span th:text="${client.phone}"></span></td>
        <td><span th:text="${client.email}"></span></td>
        <td><a th:href="@{/clients/delete/{id}(id=${client.id})}">Delete</a></td>
        <td><a th:href="@{/clients/edit/{id}(id=${client.id})}">Edit</a></td>
    </tr>
    </tbody>
</table>
<p></p>
<a href="/clients/add">Add client</a>
</body>
</html>