<html lang="en" xmlns="http://www.w3.org/1999/xhtml" xmlns:th="http://www.thymeleaf.org">
<head>
    <title>Update client form</title>
</head>
<body>
<h1 th:text="${client.id == null} ? 'Add client' : 'Edit client'"></h1>
<form action="#" th:action="@{/clients}" th:object="${client}" method="post">
    <table>
        <tr th:if="${client.id != null}">
            <td>ID</td>
            <td><input type="number" th:field="*{id}" id="id" readonly="readonly" style="background-color: #F2F3F4"></td>
        </tr>
        <tr>
            <td>Name</td>
            <td><input type="text" th:field="*{name}" id="name"></td>
        </tr>
        <tr>
            <td>Phone</td>
            <td><input type="text" th:field="*{phone}" id="phone"></td>
        </tr>
        <tr>
            <td>Email</td>
            <td><input type="text" th:field="*{email}" id="email"></td>
        </tr>
    </table>
    <input type="submit" value="Save">
    <a href="/clients"><input type="button" value="Cancel"/></a>
</form>
</body>
</html>